body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 12;
    padding: 12;
    
}

.card {
height: 300px;
width: 250px;
border:5px solid #000;
margin: 10px;
    background-color: rgba(214, 123, 151, 0.2);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 25px 5px 25px black;

}
.card:hover {

    animation-name: pulse;
animation-duration: 1s;
font-size: 30px;
text-transform: uppercase;
color: darkblue;
}
#card-title {
font-family: cursive;
font-size: 2.5rem;
margin:0.5rem 0;

}
#card-title:hover {
font-size: 30px;
text-transform: uppercase;
color: darkblue;
transform: rotate(0.5turn);
}
#A {
    font-family: cursive;
font-size: 2.5rem;
margin:0.5rem 0;
}
#A:hover {
transform: translateX(-15px);
}
#B {
    font-family: cursive;
font-size: 2.5rem;
margin:0.5rem 0;
}
#B:hover {
transform:  translateY(-15px);
}
#C {
    font-family: cursive;
font-size: 2.5rem;
margin:0.5rem 0;
}
#C:hover {
transform: skewX(10deg)
}
#D {
    font-family: cursive;
font-size: 2.5rem;
margin:0.5rem 0;
}
#D:hover {
transform: skewY(-10deg)
}
#E {
    font-family: cursive;
font-size: 2.5rem;
margin:0.5rem 0;
}
#E:hover {
transform: rotate(5deg)
}
.card-img {
height: 90%;
width:100%;
}

.column {
    display:flex;
    width: 85%;
    height: 80%;
    flex-wrap:wrap;

    justify-content: space-around;
    margin: 10rem auto;
}

@media screen and (max-width: 1000px) {
    .card{
        width: 40%;
    }

}
@media screen and (max-width: 813px) {
    .card {
        width: 90%;
    }

}

@keyframes pulse {
    25% {
      transform: scale(0.85);
    }
    75% {
      transform: scale(1);
    }
  }