body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 20;
    padding: 20;
}

.card {
    height: 30vh;
    width: 20vw;
    background-color: rgba(214, 123, 151, 0.2);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1000px;
}
.card-title {
font: size 2.2rem;
margin:0.5rem 0;
text-transform: uppercase;
}
.card-img {
    width:100%;
}