body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 20;
    padding: 20;
    
}

.card {
height: 350px;
width: 400px;
border:5px solid #000;
margin: 5px;
    background-color: rgba(214, 123, 151, 0.2);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 25px 5px 25px black;
    transition-delay: 0.5s;
}

#Alligator{
    font-family: cursive;
    font-size: 2.5rem;
    margin:0.5rem 0;
    text-transform: uppercase;

    }
    #Alligator:hover {
transform: scale(1.1);
    }
#card-title {
font-family: cursive;
font-size: 2.5rem;
margin:0.5rem 0;
text-transform: uppercase;
}
#card-img {
    width:10%;
}
